<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844944388061-2otdvo7lug5pb8eir1vv8etb0t5o2ird.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844944388061-2otdvo7lug5pb8eir1vv8etb0t5o2ird</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844944388061-lhj1pu1nod9dfbs39jffhhb84c3c7tr8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6J5Rt2itTer6MPs8MHgtrIeiAAKEdmOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>844944388061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zeljoprojekat</string>
	<key>PROJECT_ID</key>
	<string>zeljoprojekat</string>
	<key>STORAGE_BUCKET</key>
	<string>zeljoprojekat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844944388061:ios:891bdd3f8f6300d9419034</string>
</dict>
</plist>